body {
    margin: -8px;
}
.header {
    text-align: center;
}
.header__title {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
}
.header__navbar {
    background-color: rgb(224, 156, 9);
    line-height: 2rem;
    width: 100%;
    border-radius: 20px;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 8px;
}
a {
    text-decoration: none;
    color: black;
}
.home {
    margin: 40px;
    height: 34rem;
    padding: 20px;
}
.home__title {
    text-align:center;
}
.home__connexion {
    margin: 40px;
    display: flex;
    flex-direction: column;
}
.connexion__input {
    margin: 8px;
    padding: 4px;
    width: 60%;
    margin-bottom: 12px;
}
.connexion__button {
    margin: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: tomato;
    color: white;
}
td, th, tr {
    border: 1px solid rgb(20, 77, 15);
    padding: 8px;
    text-transform: capitalize;
}
.row {
    background-color: rgb(107, 160, 55);
    color: white;
}
thead {
    font-weight: bold;
}

.footer {
    background-color: rgb(107, 160, 55);
    height: 150px;
    padding: 20px;
    text-align: center;
    color: white;
}

.shoppinglist, .remember, .user, .tribe, .activity, .shoppingListAdd  {
    height: 36rem;
    margin: 40px;
    text-align: center;
}
.shoppinglist__title, .activity__title , .remember__title, .user__title, .tribe__title {
    margin: 40px;
}
.shoppinglist__table, .activity__table, .remember__table, .user__table, .tribe__table {
    display: flex;
    justify-content: center;
    
}
.shoppinglist__table table, .activity__table table, .remember__table table, .user__table table, .tribe__table table {
    width: 80%;
    border-collapse: collapse;
    border: 3px solid grey;
}
.activityEdit__title, .activityDelete__title, .activityAdd__title, .shoppingListEdit__title, .shoppingListDelete__title, .shoppingListAdd__title, .rememberEdit__title, .rememberDelete__titlte, .rememberAdd__title, .tribeEdit__title, .tribeDelete__title, .tribeAdd__title {
    text-align: center;
    margin: 50px;
}
 .activityEdit__form .input, .activityDelete__form .input, .activityAdd__input, .shoppingListEdit__form .input, .shoppingListDelete__form .input, .shoppingListAdd__input, .rememberEdit__form .input, .rememberDelete__form .input, .rememberAdd__form .input, .tribeEdit__form .input, .tribeDelete__form .input, .tribeAdd__form .input {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-right: 50px;
 }
 .activityEdit__form input, .activityDelete__form input, .activityAdd__form input, .shoppingListEdit__form input, .shoppingListDelete__form input, .rememberDelete__form input, .rememberAdd__form input, .tribeEdit__form input, .tribeDelete__form input, .tribeAdd__form input {
    padding: 6px;
    margin-top: 6px;
 }
 .activityEdit__form--button, .activityDelete__form--button, .activityAdd__form--button, .shoppingListEdit__form--button, .shoppingListDelete__form--button, .shoppingListAdd__form--button, .rememberEdit__form--button, .rememberDelete__form--button , .rememberAdd__form--button, .tribeEdit__form--button , .tribeDelete__form--button, .tribeAdd__form--button{
    text-align: center;
    margin-bottom: 40px;
 }
 .activityEdit__form--button button, .activityAdd__form button, .shoppingListEdit__form button, .shoppingListAdd__form button, .rememberEdit__form button, .rememberAdd__form button, .tribeEdit__form button, .tribeAdd__form button{
    padding: 12px;
    color: aliceblue;
    background-color: green;
    border-radius: 20px;
 }
 .activityDelete__form--button button, .shoppingListDelete__form button, .rememberDelete__form button,  .tribeDelete__form button   {
    padding: 12px;
    color: aliceblue;
    background-color: red;
    border-radius: 20px;
 }
.activity__add, .shoppingList__add, .remember__add, .tribe__add {
    margin: 40px;
    padding: 12px;
    background-color: rgb(107, 160, 55);
    border-radius: 20px;
}
.activity__add a, .shoppingList__add a, .remember__add a, .tribe__add a{
    color: white;
}
.shoppingListEdit, .shoppingListDelete, .rememberEdit, .rememberDelete, .rememberAdd, .tribeEdit, .tribeDelete, .tribeAdd {
    height: 600px;
}